services:
  app:
    build: .
    ports:
      - "8888:8888"
    depends_on:
      - db
    env_file:
      - .env
    environment:
      - DB_URL=postgres://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}?sslmode=disable

  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"

  adminer:
    image: adminer:4.17.1
    restart: always
    ports:
      - 8080:8080
